{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Catégorie{% endblock %}

{% block body %}

<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Catégorie</h1>

{% endblock %}